/* styles.css */

#homeButton {
    margin-bottom: 20px; /* Adjust the margin to create space between "Home" and other buttons */
}

a {
    text-decoration: none; /* Remove underline on links */
}

button {
    padding: 2; /* Remove button padding */
    margin: 4px;
    cursor: pointer; /* Change cursor to pointer on hover for buttons */
}

button:hover {
    background-color: #ddd;
}

#text-output {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(17, 182, 17);
    font-weight: bold;

    background-color: rgba(17, 182, 17, 0.1); /* Subtle background color */
    padding: 10px; /* Add padding for better visual separation */
    border: 1px solid rgba(17, 182, 17, 0.5); /* Border with transparency */
    box-shadow: 0 0 5px rgba(17, 182, 17, 0.3); /* Box shadow for a subtle glow */
}

.response {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #333;
}

.button-container {
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}