/* styles.css */

#homeButton {
    margin-bottom: 20px; /* Adjust the margin to create space between "Home" and other buttons */
}

a {
    text-decoration: none; /* Remove underline on links */
}

button {
    padding: 2; /* Remove button padding */
    margin: 4px;
    cursor: pointer; /* Change cursor to pointer on hover for buttons */
}

button:hover {
    background-color: #ddd;
}

#text-output {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(17, 182, 17);
    font-weight: bold;

    background-color: rgba(17, 182, 17, 0.1); /* Subtle background color */
    padding: 10px; /* Add padding for better visual separation */
    border: 1px solid rgba(17, 182, 17, 0.5); /* Border with transparency */
    box-shadow: 0 0 5px rgba(17, 182, 17, 0.3); /* Box shadow for a subtle glow */
}

.response {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #333;
}

.button-container {
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    background-color: #990000; 
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
}

.logo img { 
    float: left;
    height: 80px;
    width: auto;
}

.dropdown {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    width: 300px; /* Adjust the width as per your requirement */
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center; /* Center the content inside the dropdown */
    left: 50%; /* Position the dropdown at the center */
    transform: translateX(-50%); /* Move the dropdown back by half of its width */
    margin-top: 20px;
}

.dropdown-content select,
.dropdown-content input,
.dropdown-content button {
    display: block;
    margin: 10px auto; /* Center the select, input, and button */
    font-size: 16px;
    padding: 8px;
    width: 80%;
    box-sizing: border-box;
}

.datetime-pair {
    margin-bottom: 10px;
}

.datetime-pair label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.datetime-pair input[type="date"],
.datetime-pair input[type="time"] {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}
