/* styles.css */

#homeButton {
    margin-bottom: 2px; /* Adjust the margin to create space between "Home" and other buttons */
}

a {
    text-decoration: none; /* Remove underline on links */
}

button {
    padding: 2; /* Remove button padding */
    margin: 4px;
    cursor: pointer; /* Change cursor to pointer on hover for buttons */
}

/* button:hover {
    background-color: rgb(219, 248, 219);
} */

#text-output {
    font-family: "Arial", sans-serif; /* Change the font-family to your preferred font */
    font-size: 14px; /* Change the font size if needed */
    line-height: 1.5; /* Adjust the line height for better readability */
    color: rgb(17, 182, 17); /* Set the text color */
    font-weight: bold;
}

.response {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #333;
}

.button-container {
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}